.dark-bg {
    background-color: #1e1e1e;
}

.light-text {
color: #ffffff;
}

.rounded {
border-radius: 10px;
}

.spaced-out {
    padding: 20px;
}

#page-title {
    font-size: 48px;
    text-align: center;
}

.card {
    background-color: blue;
    border: cyan;
    padding: 30px;
}

.warning {
    color: red;
    border: outset;
}

.img-style {
    border-radius: 20px;
    border: solid blue;
}

.label {
    
}







/* write your rules below  this line*/


